body {
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  letter-spacing: .01rem;
  color: #444;
  font-size: 1.4rem;
}

.col > ul {
  margin: 0 !important;
}

h1, h2, h3, h4 {
  font-family: 'fira-sans-2', 'Helvetica Neue', helvetica;
  font-weight: bold;
  text-align: center;
}

h3, h4 {
  text-align: left
}

ul {
  margin: 0 4%;
}

li {
  margin: 20px 0;
}

li ul {
  margin-top: 0px;
}

li > ul, li > ol {
  margin: 10px 0 1em 1em;
}

#classes {

}

h2 > .emoji {
  height: 40px;
  width: 40px;
  vertical-align: baseline;
}

.main {
  display: table;
  margin: 0 auto;
  margin-bottom: -20px;
}

.tagline {
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

h1.main-title {
  font-weight: 700;
  font-family: "fira-sans-2";
  margin-top: 35px;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: .03em;
  display: block;
  width: 100%;
  text-align: center;
}

h1.main-title:after {
  display: block;
  content: '';
  border-bottom: 5px solid #424242;
}

.main h2 {
  margin-top: -35px;
  margin-bottom: 70px;
  font-weight: 700;
}

date {
  text-decoration: underline;
  font-weight: 700;
}

h2 {
  font-size: 2.2em;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}

h3.subject {
  font-weight: 100;
  text-decoration: underline;
  text-align: center;
}

article {
  font-family: "adobe-garamond-pro", "palatino";
  margin: 0 15% 40px 15%;
  text-align: left;
}

article h1 {
  font-size: 3em;
  margin-top: 30px;
  text-align: center;
}

article h2 {
  border-top: 2px solid #424242;
  padding-top: 40px;
}

article .subject {
  text-align: center;
  margin-top: -20px;
}

code {
  font-family: "Source Code Pro", courier, monospace;
  font-size: 1em;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px 4px 3px 4px;
  line-height: 2;
}

pre {
  font-family: "Source Code Pro", courier, monospace;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  border-radius: 2px;
  background-color: #fafafa;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-x: scroll-x;
  padding: 10px 15px;
  padding-left: 40px;
}

pre code {
  border: none;
}

footer {
  margin-top: 45px;
  padding-top: 45px;
  height: 40px;
  line-height: 1.6;
  margin: 0 20%;
  font-size: 75%;
  text-align: center;
  border-top: 1px solid #444;
  padding-bottom: 150px;
}

footer img {
  margin: 0 auto;
  display: block;
}

/*
   The Ungrid (TM)
   https://chrisnager.github.io/ungrid/
*/
@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}

.col { padding: 0 5%; }

h1.main-title a {
  color: inherit;
  opacity: 1 !important;
  text-decoration: none;
}

a {
  color: #AA3939;
  opacity: .85;
  transition: .2s opacity ease-in-out;
  line-height: 1.8;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

li a {
  line-height: 1.2;
  font-family: 'adobe-garamond-pro', 'palatino';
}

.notes-index {
  margin: 0 20%;

}

.index {
  margin: 0 25%;
  padding-bottom: 1.2rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (max-width: 640px) {
  article {
    margin: 0 2% 0 4% !important;
  }

  footer {
    margin: 0 5% 0 4%;
  }

  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 30px;
  }

  h1.main-title {
    margin-top: 40px;
    letter-spacing: .05em;
    font-size: 3rem;
  }

  h1.main-title:after {
    margin: 0 auto;
  }

  .index {
    margin: 0 3%;
  }

  ul {
    margin: 0 5% 0 7%;
  }

  .notes-index {
    margin: 5% 0;
  }
}

img {
  text-align: center;
}

blockquote {
  background-color: rgba(0, 0, 0, .03);
  padding: 1% 5%;
  border-radius: 4px;
}

.author {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 3rem;
  line-height: 2;
}