---
layout: default
title: Notebook
---

<div class="main">
  <h1 class="main-title">Jesse Herrick's Notebook</h1>
</div>

<div class="index" id="classes">
{% for subject in site.data.subjects %}
  <div class="class">
    <h3>{{subject.title}}</h3>

    {% assign subject_notes = site.notes | where: "subject", subject.slug | sort: "date" | reverse %}
    <ul class="notes">
    {% for note in subject_notes | sort: 'date' %}
      <li>
        <a href="{{note.url}}">{{note.title}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
