<!DOCTYPE HTML>
<html>
  <head>
    <title>{{page.title}} | Jesse Herrick</title>

    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!-- fonts! -->
    <script src="//use.typekit.net/rla1msf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- OMG math! -->
    <script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script data-no-instant type="text/x-mathjax-config">
     MathJax.Hub.Config({
         tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
         },
         TeX: {
             extensions: ["mhchem.js"]
         }
     });
    </script>
  </head>

  <body>
    {{ content }}

    <!-- fast loading! -->
    <script src="/js/instantclick.min.js"></script>
    <script data-no-instant></script>

    <!-- And of course, analytics. -->
    <script data-no-instant>
     InstantClick.init();
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     InstantClick.on('change', function() {
       MathJax.Hub.Typeset();
       ga('create', 'UA-43360200-4', 'auto');
       ga('send', 'pageview');
     })

    </script>
  </body>
</html>
