---
layout: default
---

<article>
  <h1>{{page.title}}</h1>
  <p class="author">by <a href="https://jesse.codes/">Jesse Herrick</a></p>
  {% assign subject = site.data.subjects | where: "slug", page.subject | first %}
  <p class="subject"><em>{{ subject.title }}</em> &middot; <date>{{ page.date | date: "%B %-d, %Y" }}</date></p>

  {{page.content}}
</article>

<footer>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">"{{page.title}}"</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Jesse Herrick</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
  <p>Images are used for educational purposes and are the property of their respective copyright holders.</p>
</footer>
